* {
    margin: 0 auto;
}

html {
    width: 100%;
    height:100%;
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
	}
	<head>
	<span class="floatleft"><link rel="stylesheet" href="style.css"/></span>
	
	a:link {
  	color: black; 
  	text-decoration: none;
		padding:1rem;
		background-color:white;
		border-bottom-style: none;
	}

	a:visited{color:rgb(22,255,255);text-decoration: none;transition: 0.6s;border-bottom-style: none;}

	a:focus{color:rgb(225,225,12);text-decoration: none;transition: 0.6s;border-bottom-style: none;border-bottom-style: none;}

	a:hover{font-style: italic; color:FF1A1A; background-color: black; text-decoration: none;transition: 0.6s;border-bottom-style: none;}

	a:active{color:white;text-decoration: none;transition: 0.6s;border-bottom-style: none;}

	body
	{
		background-color : rgb(100,23,90);
		font-size: 1.25rem;
		border-spacing: 1rem;
		text-align: left;
		width:85rem;
		table:hover{font-style: italic; color:FF1A1A;text-decoration: none;background-color:rgb(10,10,10);border-bottom-style: none;};
		a:active{color:rgb(0,0,0); text-decoration: none;transition: 0.6s;border-bottom-style: none;}
		a:visited{color:rgb(100,23,90);text-decoration: none;transition: 0.6s;border-bottom-style: none;}
	}

	body img
	{
		height:20rem;
		width:17rem;
		float:left;
	}

	#header
	{
		background-image: linear-gradient(to bottom right,rgb(0, 0, 0),rgb(105, 23, 94));
		position:fixed;
		float:left;
		width: 100%;
		height:14rem;
		text-align: left;
		color: rgb(255,255,255);
	}

	#header img 
	{ 
		float: left; 
 		padding: 5px 5px 5px 5px;
 		height: 8rem;
 		width:6.5rem;
	}

#header ln
{
	background-color:white;
	padding:1rem;
	text-decoration: none;
}

	#drop
	{ 
		float: right; 
		display: inline-block;
		background-color: #f9f9f9;
  		min-width: 160px;
 		height: 2rem;
 		width:1.4rem;
	}	
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
	li 
	{
 	 float: left;
 	 padding: 2rem;
 	 color:rgb(255,255,255);
 	 text-decoration: none;
 	 display: inline-block;
	}
	
	#bodytext
	{
		background-color : rgb(255, 218, 254);
		padding-top :14.5rem;
		vertical-align: center;
		width: auto;
		font-size: 1.25rem;
	}
	
	#bodytext img
	{
		
		padding: 2rem;
	}

	#navigation
	{
		color:rgb(255,255,255);
		font-size:1.25rem;
		float:left;
	}

	#search
	{
		float: right;
	}

	img
	{
		size: 16rem;
	}
	
	h1
	{
		font-size: 8rem; 
	}
	
	h2
	{
		padding-right: 1.3rem;
		padding-left: 1.3rem;
	}
	h3
	{
		padding-up: 1.3rem;
		padding-left: 2rem;
	}
	
	#bodytext p
	{
		padding: 1.3rem;
	}
	
	#table_link
	{
		color: rgb(255,255,255);
	}
	


td {width: 24rem;height: 40rem;background-color: #FFFFFF;}


 a.p{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
 }

#footer
{
padding-top:2rem;
color: #F1F1F1;
background-color:rgb(102, 102, 102);
}

#footer button
{
	float:right;
}
table img{
  width:24rem;
  height: 24rem;
}
.modal img{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}


.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.6s;
}
